/* screen - iphone-12-12-pro-7 */

.iphone-12-12-pro-7 {
  background-color: var(--white);
  height: 1314px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}
select{width: 100%;}
option{width: 100%;}
.sele{cursor: pointer;}
.iphone-12-12-pro-7 .by-creating-an-privacy-policy-hInFam {
  background-color: transparent;
  color: var(--tower-gray);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 107px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 1158px;
  white-space: nowrap;
  width: auto;
}
.iphone-12-12-pro-7 .confirm-password-Jk7rXt {
  background-color: transparent;
  border: 0;
  height: 18px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 14px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 116px;
}
.iphone-12-12-pro-7 .confirm-password-Jk7rXt::placeholder {
  color: #aabbc099;
}
.iphone-12-12-pro-7 .confirm-password-PEhhEO {
  background-color: transparent;
  color: var(--dodger-blue);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  height: 46.89%;
  left: 10.75%;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 37.80%;
  white-space: nowrap;
  width: 57.35%;
}
.iphone-12-12-pro-7 .confirm-password-hInFam {
  background-color: transparent;
  height: auto;
  left: 122px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 918px;
  white-space: nowrap;
  width: auto;
}
.iphone-12-12-pro-7 .confirm-password-jEAbg8 {
  background-color: transparent;
  height: 8.61%;
  left: 10.75%;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 12.44%;
  white-space: nowrap;
  width: 43.37%;
}
.iphone-12-12-pro-7 .confirm-password-tyK5Jf {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: auto;
}
.iphone-12-12-pro-7 .continue-hInFam {
  background-color: transparent;
  cursor: pointer;
  height: 48px;
  left: 56px;
  position: absolute;
  top: 1101px;
  width: 275px;
}
.iphone-12-12-pro-7 .continue-yvbKNu {
  background-color: transparent;
  bottom: calc(48.57% - 6px);
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  right: calc(48.87% - 26px);
  text-align: center;
  white-space: nowrap;
  width: 54px;
}
.iphone-12-12-pro-7 .create-an-account-hInFam {
  background-color: transparent;
  color: var(--dodger-blue);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 108px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 117px;
  white-space: nowrap;
  width: auto;
}
.iphone-12-12-pro-7 .ellipse-1-jEAbg8 {
  background-color: var(--white);
  border-radius: 9px;
  height: 18px;
  position: absolute;
  right: calc(19.92% - 4px);
  top: calc(38.22% - 7px);
  width: 18px;
}
.iphone-12-12-pro-7 .ellipse-2-jEAbg8 {
  background-color: var(--white);
  border-radius: 9px;
  bottom: calc(46.07% - 8px);
  height: 18px;
  position: absolute;
  right: calc(19.92% - 4px);
  width: 18px;
}
.iphone-12-12-pro-7 .ellipse-3-jEAbg8 {
  background-color: var(--white);
  border-radius: 9px;
  bottom: calc(30.37% - 5px);
  height: 18px;
  position: absolute;
  right: calc(19.92% - 4px);
  width: 18px;
}
.iphone-12-12-pro-7 .email-6w1Uak {
  background-color: transparent;
  border: 0;
  height: 18px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 14px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 37px;
}
.iphone-12-12-pro-7 .email-6w1Uak::placeholder {
  color: #aabbc099;
}
.iphone-12-12-pro-7 .group-1-hInFam {
  background-color: transparent;
  height: 209px;
  left: 56px;
  position: absolute;
  top: 532px;
  width: 279px;
}
.iphone-12-12-pro-7 .input-5bxBQG {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 279px;
}
.iphone-12-12-pro-7 .input-gk2Egm {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 192px;
  width: 279px;
}
.iphone-12-12-pro-7 .input-hInFam {
  background-color: transparent;
  height: 240px;
  left: 56px;
  position: absolute;
  top: 240px;
  width: 279px;
}
.iphone-12-12-pro-7 .input-jEAbg8 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-12-12-pro-7 .input-tcjL1t {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 64px;
  width: 279px;
}
.iphone-12-12-pro-7 .input-vZplMh {
  background-color: transparent;
  height: 285px;
  left: 56px;
  position: absolute;
  top: 783px;
  width: 279px;
}
.iphone-12-12-pro-7 .input-x1xrha {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 128px;
  width: 279px;
}
.iphone-12-12-pro-7 .password-ROFX47 {
  background-color: transparent;
  border: 0;
  height: 18px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 14px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 63px;
}
.iphone-12-12-pro-7 .password-ROFX47::placeholder {
  color: #aabbc099;
}
.iphone-12-12-pro-7 .path-4-hInFam {
  background-color: transparent;
  height: 1139px;
  left: 32px;
  object-fit: cover;
  position: absolute;
  top: 95px;
  width: 327px;
}
.iphone-12-12-pro-7 .rectangle-119-yvbKNu {
  background-color: var(--white);
  border-radius: 11px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-12-12-pro-7 .rectangle-3-hInFam {
  background-color: transparent;
  height: 1314px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 390px;
}
.iphone-12-12-pro-7 .rectangle-85-6w1Uak {
  background-color: var(--white);
  border-radius: 11px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 279px;
}
.iphone-12-12-pro-7 .rectangle-85-Jk7rXt {
  background-color: var(--white);
  border-radius: 12px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 279px;
}
.iphone-12-12-pro-7 .rectangle-85-ROFX47 {
  background-color: var(--white);
  border-radius: 11px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 279px;
}
.iphone-12-12-pro-7 .rectangle-85-V8ks3G {
  background-color: var(--white);
  border-radius: 13px;
  height: 209px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 279px;
}
.iphone-12-12-pro-7 .rectangle-85-tyK5Jf {
  background-color: var(--white);
  border-radius: 9px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 279px;
}
.iphone-12-12-pro-7 .rectangle-85-y2xxBN {
  background-color: var(--white);
  border-radius: 12px;
  height: 285px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 279px;
}
