/* screen - iphone-12-12-pro-2 */

.iphone-12-12-pro-2 {
  background-color: var(--white);
  height: 844px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}
.iphone-12-12-pro-2 .camera-LQwDgu {
  background-color: transparent;
  bottom: 0px;
  height: 16px;
  left: 0px;
  position: absolute;
  width: 16px;
}
.iphone-12-12-pro-2 .excepteur-sint-at-non-proident-lWzk7r {
  background-color: #d0ecee;
  /*bottom: calc(40.91% - 17px);*/
  color: var(--dodger-blue);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
  min-width: 1%;
  max-width: 95%;
  /*display: block;*/
  border-radius: 17px;
  padding: 12px;
  margin-top: 22px;

}

.iphone-12-12-pro-2 .excepteur-sint-at-non-proident-lWzk7r2 {
  background-color: AliceBlue;
  /*bottom: calc(40.91% - 17px);*/
  color: var(--dodger-blue);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 24px;
  min-width: 1%;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
  max-width: 95%;
  /*display: block;*/
  border-radius: 17px;
  padding: 12px;
  margin-top: 22px;

}
.iphone-12-12-pro-2 .exchange-students-2021-JoYuyY {
  background-color: transparent;
  color: var(--dove-gray);
  font-family: var(--font-family-helveticaneue-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 34px;
  white-space: nowrap;
  width: auto;
}
.iphone-12-12-pro-2 .file-LQwDgu {
  background-color: transparent;
  bottom: 0px;
  height: 16px;
  position: absolute;
  right: calc(31.71% - 5px);
  width: 16px;
}
.iphone-12-12-pro-2 .icon-feather-menu-JoYuyY {
  background-color: transparent;
  cursor: pointer;
  height: 18px;
  left: 17px;
  position: absolute;
  top: 33px;
  width: 27px;
}
.iphone-12-12-pro-2 .input-JoYuyY {
  background-color: transparent;
  height: 80px;
  left: 24px;
  position: absolute;
  top: 737px;
  width: 344px;
}
.iphone-12-12-pro-2 .input-LQwDgu {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 1px);
}
.iphone-12-12-pro-2 .location-LQwDgu {
  background-color: transparent;
  bottom: 1px;
  height: 16px;
  left: calc(34.15% - 5px);
  position: absolute;
  width: 16px;
}
.iphone-12-12-pro-2 .me-lWzk7r {
  background-color: transparent;
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: -2px;
  text-align: right;
  top: 0px;
  white-space: nowrap;
  width: 16px;
}
.iphone-12-12-pro-2 .message-JoYuyY {
  background-color: transparent;
  min-height: 80px;
  margin-left: 17px;
  position: relative;
  float: left;
  min-width: 200px;
  max-width: 300px;
  display: block;
  margin-bottom: 17px;
  clear: both;
}
.iphone-12-12-pro-2 .message-vXkYCp {
  background-color: transparent;
  height: 84px;
  float: right;
  margin-right: 17px;
  position: relative;
  margin-bottom: 17px;
  width: 201px;
}
.iphone-12-12-pro-2 .name-surname-C3jcOa {
  background-color: transparent;
  height: 13px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 75px;
}
.iphone-12-12-pro-2 .path-1-f9Bh8D {
  background-color: transparent;
  height: 3px;
  left: -2px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 2px);
  width: calc(100.00% + 3px);
}
.iphone-12-12-pro-2 .path-110-q8YH9n {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.iphone-12-12-pro-2 .path-114-uQJPIX {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 3px);
}
.iphone-12-12-pro-2 .path-123-6RarVb {
  background-color: transparent;
  height: calc(100.00% - 6px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 100%;
}
.iphone-12-12-pro-2 .path-124-a8mPKw {
  background-color: transparent;
  height: 100%;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 3px);
}
.iphone-12-12-pro-2 .path-125-uqkj5a {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.iphone-12-12-pro-2 .path-2-f9Bh8D {
  background-color: transparent;
  height: 3px;
  left: -2px;
  object-fit: cover;
  position: absolute;
  top: -2px;
  width: calc(100.00% + 3px);
}
.iphone-12-12-pro-2 .path-3-f9Bh8D {
  background-color: transparent;
  bottom: -2px;
  height: 3px;
  left: -2px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% + 3px);
}
.iphone-12-12-pro-2 .rectangle-252-q8YH9n {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-12-12-pro-2 .rectangle-3-JoYuyY {
  background-color: transparent;
  height: 844px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 390px;
}
.iphone-12-12-pro-2 .rectangle-305-uQJPIX {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.iphone-12-12-pro-2 .rectangle-312-6RarVb {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-12-12-pro-2 .rectangle-313-a8mPKw {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-12-12-pro-2 .rectangle-314-uqkj5a {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-12-12-pro-2 .rectangle-336-C3jcOa {
  background-color: transparent;
  /*background-color: #d0ecee;*/
  border-radius: 16px;
  height: fit-content;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 100%;
}
.iphone-12-12-pro-2 .rectangle-337-lWzk7r {
  background-color: transparent;
  /*background-color: var(--alice-blue);*/

  border-radius: 17px;
  height: calc(100.00% - 10px);
  left: 0px;
  position: absolute;
  top: 20px;
  width: calc(100.00% - 2px);
}
.iphone-12-12-pro-2 .rectangle-340-3vxpTw {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-12-12-pro-2 .say-something-3vxpTw {
  background-color: transparent;
  border: 0;
  bottom: calc(46.67% - 8px);
  color: var(--sail);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  height: 18px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 14px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: 109px;
}
.iphone-12-12-pro-2 .say-something-3vxpTw::placeholder {
  color: #bce0fd99;
}
.iphone-12-12-pro-2 .sed-do-eiusmod-tempor-C3jcOa {
  background-color: transparent;
  bottom: calc(40.91% - 7px);
  color: var(--dove-gray);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  height: 18px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.iphone-12-12-pro-2 .send-LQwDgu {
  background-color: transparent;
  bottom: -1px;
  color: var(--dodger-blue);
  cursor: pointer;
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: -1px;
  text-align: right;
  white-space: nowrap;
  width: 41px;
}
.iphone-12-12-pro-2 .video-LQwDgu {
  background-color: transparent;
  bottom: 0px;
  height: 16px;
  left: calc(17.07% - 3px);
  position: absolute;
  width: 16px;
}
.iphone-12-12-pro-2 .voice-LQwDgu {
  background-color: transparent;
  bottom: 0px;
  height: 16px;
  position: absolute;
  right: calc(48.78% - 8px);
  width: 16px;
}
.iphone-12-12-pro-2 .x1120-am-today-C3jcOa {
  background-color: transparent;
  color: var(--dodger-blue);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: calc(23.20% - 18px);
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 76px;
}
.iphone-12-12-pro-2 .x1120-am-today-lWzk7r {
  background-color: transparent;
  color: var(--dodger-blue);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: 26px;
  text-align: right;
  top: 0px;
  white-space: nowrap;
  width: 76px;
}
